{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_configmultiselect

    Admin multiselect setting template.

    Context variables required for this template:
    * name - form element name
    * id - element id
    * size - element size
    * options - list of options containing name, value, selected

    Example context (json):
    {
        "name": "test",
        "id": "test0",
        "size": "3",
        "hasmultiple": true,
        "select": {
            "name": "questionid",
            "options": [
                { "name": "Option 1", "value": "V", "selected": true },
                { "name": "Option 2", "value": "V", "selected": true }
                ]
            }
    }
}}
{{!
    @template mod_capquiz/configure_badge_rating

    Example context (json):
    {
        "form": "raw html for the form"
    }
}}
<div class="form-select">
    <form class="capquiz-response-form" method="post" action="{{action}}" data-action="newissue"  enctype="multipart/form-data" accept-charset="utf-8">
        {{#hasmultiple}}
            {{#select}}
            <div class="form-group">
                {{> local_qtracker/select }}
            </div>
            {{/select}}
        {{/hasmultiple}}
        {{^hasmultiple}}
            <div class="form-group">
                <input type="hidden" name="questionid" value="{{questionid}}">
            </div>
        {{/hasmultiple}}
            <div class="form-group">
                <input type="text" name="issuetitle" class="form-control" size=50 placeholder="{{#str}} title, local_qtracker {{/str}}">
            </div>
            <div class="form-group">
                <textarea name="issuedescription" rows="5" class="form-control" placeholder="{{#str}} leavecomment, local_qtracker {{/str}}"></textarea>
            </div>
            <div class="form-group">
                {{>local_qtracker/button}}
            </div>
    </form>
</div>
{{#js}}
require(['jquery', 'local_qtracker/newissue'], function($, NewIssue) {
    NewIssue.init('[data-action=newissue]');
});
{{/js}}
