{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_qtracker/questions_issue_page

    Question issue page template.

    Example context (json):
    {
        "questionissue": {
            "id": "2",
            "title": "Issue title",
            "description": "Issue description"
        },
        "action": "someAction",
        "profileimageurl": "https://moodle.org/pix/u/f3.png"
    }
}}
<div class="qtracker-container qtracker-push-pane-over">

    <div id="question-issues-sidebar"></div>
    {{#questionissue}}
    <div class="cotainer-fluid">
        <div class="row">
            <div class="col">
                <h1>
                    {{title}} <span class="text-muted">#{{id}}</span>
                </h1>
            </div>
            <div class="col d-flex justify-content-end">
                {{#edittitlebutton}}
                    {{> local_qtracker/button}}
                {{/edittitlebutton}}
                {{#newissuebutton}}
                    <form method="post" action="{{{action}}}" data-action="issueaction" enctype="multipart/form-data" accept-charset="utf-8">
                        {{> local_qtracker/button}}
                    </form>
                {{/newissuebutton}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row p-2 ">
                    <h3>
                        {{>local_qtracker/issue_state_badge}}
                    </h3>
                    {{#issuedescription}}
                        <a class="text-dark bold m-l-1" href="{{userurl}}">{{fullname}}</a>&nbsp;
                        <div class="text-muted">
                            {{#str}} openedissueon, local_qtracker {{/str}}
                            {{#userdate}} {{timecreated}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}
                        </div>
                        <div class="ml-auto"></div>
                    {{/issuedescription}}
                </div>
            </div>
        </div>

    {{/questionissue}}
    <span class="notifications" id="qtracker-notifications"></span>

    <hr>
    {{#question}}
        {{! Question data here }}
        <div class="row">
            <div class="col-12 col-md-9">
                <div>{{{questiontext}}}</div>
            </div>
            <div class="col-12 col-md-3">
                <div class="bold">{{#str}} actions, core {{/str}}</div>
                <div class="qtracker-action-item">
                    <a href="{{{edit_url}}}">
                        <i class="icon fa fa-cog fa-fw" aria-hidden="true" title="Edit enrolment" aria-label=""></i>
                        <span>{{#str}} edit, local_qtracker {{/str}}</span>
                    </a>
                </div>
                <div class="qtracker-action-item">
                    <a href="{{{preview_url}}}">
                        <i class="icon fa fa-search-plus fa-fw " aria-hidden="true"></i>
                        <span>Preview</span>
                    </a>
                </div>
            </div>
        </div>
    {{/question}}

    {{#questionissue}}
            <hr>
            <div class="row">
                <div class="col-12 col-md-9">
                    {{#issuedescription}}
                            {{> local_qtracker/issue_description}}
                    {{/issuedescription}}
                    {{#comments}}
                        <div class="m-y-1">
                            {{> local_qtracker/issue_comment}}
                        </div>
                    {{/comments}}
                    <hr>
                    <form method="post" action="{{{action}}}" data-action="issueaction" enctype="multipart/form-data" accept-charset="utf-8">
                        <div class="d-flex flex-row">
                            <span><img class="userpicture" alt="Profile image" width="35" height="35" src="{{profileimageurl}}"/></span>
                            <div class="ml-3 w-100">
                                <div class="p-2">
                                    <textarea id="commenteditor" name="commenteditor" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-1 d-flex justify-content-end">
                            <div class="m-r-1">
                                {{#closebutton}}
                                    {{> local_qtracker/button}}
                                {{/closebutton}}
                                {{#reopenbutton}}
                                    {{> local_qtracker/button}}
                                {{/reopenbutton}}
                            </div>
                            {{#commentbutton}}
                                {{> local_qtracker/button}}
                            {{/commentbutton}}
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-3">
                    <div class="row">
                        <div class="col">
                            {{#asideblocks}}
                                <div class="{{id}}">
                                    {{> local_qtracker/aside_block}}
                                </div>
                                <hr>
                            {{/asideblocks}}
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/questionissue}}
</div>
{{#js}}
require(['jquery', 'local_qtracker/question_issue_page'], function($, QuestionIssuePage) {
    new QuestionIssuePage({{courseid}}, {{question.questionid}}, {{questionissue.id}});
});
{{/js}}
