<div class="qtracker-container qtracker-push-pane-over">

    <div class="row">
        <div class="col">
            <h1>{{#str}} questionissues, local_qtracker {{/str}}</h1>
        </div>
        <div class="col d-flex justify-content-end">
            {{#newtagbutton}}
            <form method="post" accept-charset="utf-8">
                {{> local_qtracker/button}}
            </form>
            {{/newtagbutton}}
        </div>
    </div>
    <br>
    <div id="questions-table-sidebar"></div>
    <div>
        <div id="questions-wrapper">
            {{{tags}}}
        </div>
    </div>
</div>
